body {
    background-color: #cdf1ed;
}

.task-link {
    text-decoration: none;
    color: black;
    font-family: sans-serif;


}

.container {
    max-width: 800px;
    margin: 0 auto;

    min-height: 100vh;

    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.task {
    padding: 20px;
    border: 2px solid black;
    margin-bottom: 20px;

    border-radius: 12px;

    transition: all 0.3s ease 0s;
}

.task:hover {
    background-color: aquamarine;
}

tr, th, td {
    border: 1px solid black;
}

span {
    margin: 0 20px;
}

.totalPrice {
    padding-top: 20px;
    padding-left: 50px;
}

.receipt-body {
    border: 1px solid black;
    display: inline-block;
    padding: 20px;
}



/* ================================================== */
.checkbox {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 20px;
}

.checkbox__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    opacity: 0;
}

.checkbox__input:checked + .checkbox__text::before {
    border-top-color: #424347 !important;
    border-right-color: #424347 !important;
    border-bottom-color: #424347 !important;
    border-left-color: #424347 !important;
    background-color: #424347 !important;
    background-position: 50% 50% !important;
    background-size: 60% !important;
    accent-color: #424347;
}
.checkbox__input:focus-visible + .checkbox__text::before {
    border: 1px solid red;
    outline: 1px solid #fff;
}


.checkbox__text {
    color: #000;
    padding-left: 30px;
    line-height: 20px;
    display: inline-block;
}
.checkbox__text::before {
    /* content: "";
    background-color: #333;
    width: 20px;
    height: 20px;
    transition: all 0.3s;
    position: absolute;
    border-radius: 50px;
    top: 0;
    left: 0; */
    position: absolute !important;
    top: 50% !important;
    transform: translate(0, -50%) !important;
    left: 0 !important;
    width: 1.875rem !important;
    height: 1.875rem !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    flex-basis: auto !important;
    border-top-left-radius: 999px !important;
    border-top-right-radius: 999px !important;
    border-bottom-left-radius: 999px !important;
    border-bottom-right-radius: 999px !important;
    box-shadow: inset 1px 2px 2px 0 hsla(0, 0.00%, 0.00%, 0.04) !important;
    transition-property: border, background-position, background-color !important;
    transition-duration: 100ms, 100ms, 300ms !important;
    transition-timing-function: cubic-bezier(.25, .46, .45, .94), ease, ease !important;
    cursor: pointer !important;
}